.saucelabs__jobs
  &__item
    padding 7px;
    clear both;

    &__title
      font-size 1.5em
      margin-bottom 10px

      .fa
        margin-right 5px

      .fa-question-circle
        color #999

      .fa-check-circle
        color green

      .fa-exclamation-circle
        color red

    a
      color #4ec2b4;

    &--clear
      clear both;

    &--left
      float right;

    &--right
      float left;

    &__count
      position absolute;

      right 15px;
