.saucelabs
  &__status
    &__current
      height 70%
      width 100%
      text-align center

      &__wait-time
        height 30%
        text-align center
        margin 0
        padding 6px

      &__icon
        font-size 8em
        &--ok
          color $success-color
        &--not-ok
          color $failure-color
